    body {
        background: rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
     :root {
        --blue: #203192;
    }
    
    .containerLogin {
        background: white;
        border-radius: 20px;
        display: flex;
        width: 400px;
        max-width: 400px;
        margin: 1rem;
        padding: 2rem;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
        justify-content: center;
        align-items: center;
    }
    
    input.form_input_pw,
    input#signUpPassword2 {
        display: block;
        min-width: 300px;
        padding: 0.75rem;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        background: #eeeeee;
        transition: background 0.2s, border-color 0.2s;
    }

   input#loginUserName {
        border-color: rgb(110, 110, 110);
    }
    
    input#loginPassword {
        border-color: rgb(110, 110, 110);
    }
    
    .form_hidden {
        display: none;
    }
    
    .form>* :first-child {
        margin-top: 0;
    }
    
    .form>*:last-child {
        margin-bottom: 0;
    }
    
    .form_message {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .form_message_success {
        color: rgb(115, 206, 115);
    }
    
    .form_message_error {
        color: rgb(228, 22, 22);
    }
    
    .form_title {
        margin-bottom: 2rem;
        text-align: center;
    }
    
    
    .form_input_group {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    /**/
    .form-input {
        display: block;
        min-width: 300px;
        padding: 0.75rem;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        background: #eeeeee;
        transition: background 0.2s, border-color 0.2s;
        border-radius: .375rem;
    }
    
    .error {
        text-align: center;
    }
    
    .form_input_error {
        color: rgb(228, 22, 22);
        border-color: rgb(228, 22, 22);
    }
    
    .form_button {
        width: 100%;
        padding: 1rem 2rem;
        color: #ffffff;
        border: none;
        border-radius: .375rem;
        outline: none;
        cursor: pointer;
        background: var(--blue);
    }
    
    .form_button:active {
        transform: scale(0.9);
    }
    
    .form_text {
        margin-top: 10px;
        text-align: center;
    }
    
    .form_link {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    
    .form_link:hover {
        text-decoration: underline;
    }

    @media (max-width: 400px) {
        .form-input{
            min-width: unset;
        }
    }